<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title></title>
    </head>
    <body>
        <form id="loginform" action = "http://localhost:3045/loginstatus" method = "post">
            ID : <input type = "text" name = "id" id="msg"><br>
            PW : <input type = "text" name = "pw"><br>
            <input type = "submit" value = "Connecting Server...">
        </form>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/cchats.js"></script>
    </body>
</html>